{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb", "prettier/react", "plugin:prettier/recommended"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "17.0.1"
    }
  },
  "plugins": ["prettier", "react"],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "linebreak-style": [0],
    "no-debugger": 1,
    "no-multi-str": 0,
    "no-shadow": 0,
    "react/forbid-prop-types": 0,
    "react/no-unused-state": 0
  }
}
