@import '~mixins/index';

.home-layout {
}

.feed-search {
  grid-area: feed-search;
}
.filter-hashtag {
  grid-area: filter-hashtag;
}
.feed-results {
  grid-area: feed-results;
}

@include breakpoint(md) {
  .home-layout {
    display: grid;
    grid-template-columns: calc(70% - #{$block-padding}) 30%;
    column-gap: $block-padding;
    grid-template-rows: auto;
    grid-template-areas:
      'feed-search filter-hashtag'
      'feed-results .';
  }
  .feed-search {
    padding-left: 0;
    padding-right: 0;
    margin-top: $font-size-heading-3;
    margin-bottom: $font-size-heading-4;
  }
  .filter-hashtag {
    height: fit-content;
    margin-top: ($font-size-heading-3 * 3) + $block-padding;
  }
  .feed-results {
    margin-top: 180px;
    grid-row-start: 1;
  }
}
