@import '~mixins/index';

.home-layout {
}

.feed-search {
  grid-area: feed-search;
}
.feed-hashtags {
  grid-area: feed-hashtags;
}
.feed-results {
  grid-area: feed-results;
}

@include breakpoint(md) {
  .home-layout {
    display: grid;
    grid-template-columns: calc(67% - #{$block-padding}) 33%;
    column-gap: $block-padding;
    grid-template-rows: auto;
    grid-template-areas:
      'feed-search feed-hashtags'
      'feed-results .';
  }
  .feed-search {
    background-color: $color-neutral-1;
    position: sticky;
    top: 0;
    height: fit-content;
    padding-left: 0;
    padding-right: 0;
    margin-top: $font-size-heading-3;
    margin-bottom: $font-size-heading-4;
  }
  .feed-hashtags {
    position: sticky;
    top: 0;
    height: fit-content;
    margin-top: ($font-size-heading-3 * 3) + $block-padding;
  }
  .feed-results {
    margin-top: 180px;
    grid-row-start: 1;
  }
}
