@import '~mixins/index';

.load-more {
  background-color: $color-primary-0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $block-padding;
  width: 100%;

  h4 {
    color: $color-primary-1;
    margin: 0;
  }
}
